{% include "header.html" %}

<br>
<main role="main">
    <div class="jumbotron ">
        <div class="container">
            <h1 class="display-3"> Hier ist deine Schöne Galerie </h1>
        </div>
    </div>
</main>


{% for commit in kommentar %}
{% set kommentar_neu = kommentar[loop.index-1] %}  <!--- Loop von ausgabe main Python. Wir wollen bei 0 anfangen --->
{% set bild = bilder[loop.index-1] %}


<div class="container-fluid">
    <div class="row pic">
        <div class="col-md">
            <image src="{{ url_for('static', filename='img_variable/'+bild)}}" class="bildgrösse"></image> <!--- URL zu statische URL abgeändert --->
            <h3>{{kommentar_neu}}</h3>  <!--- Kommentar von Vorschleife --->
        </div>
    </div>
</div>
{% endfor %}
<br>
<br>
<div class="container-fluid">

    <a href="{{url_for('eingabe') }} ">
        <button type="submit" class="btn btn-dark btn-lg">Galerie ergänzen</button>
    </a>

    <a href="{{url_for('beispiel') }} ">
        <button type="submit" class="btn btn-dark btn-lg float-right"> beispiel nochmals anschauen </button>
    </a>
</div>

<br>


{% include "footer.html" %}