{% include "header.html" %}
<main role="main">
    <div class="jumbotron ">
        <div class="container  ">
            <h1 class="display-3 "> Hier hast du einen Beispiel</h1>
        </div>
    </div>





<div class="container-fluid">
    <div class="row" >
     <div class="col-lg-6">
       <image src="{{ url_for('static', filename='img/image_lion.jpg')}}"class="bildgrösse"></image> <h3> {{ausgabe_1}}</h3>
     </div>
     <div class="col-lg-6">
      <image src="{{ url_for('static', filename='img/image_sky.jpg')}}" class="bildgrösse"></image> <h3> {{ausgabe_2}}</h3>
     </div>
    </div>
</div>

<p></p>

    <div class="container-fluid">
    <div class="row" >
     <div class="col-lg-6">
        <image src="{{ url_for('static', filename='img/image_water.jpg')}}" class="bildgrösse"></image>
     <h3> {{ausgabe_3}}</h3>
     </div>
     <div class="col-lg-6">
     <image src="{{ url_for('static', filename='img/image_sweet.jpg')}}" class="bildgrösse"></image>
    <h3> {{ausgabe_4}}</h3>
     </div>
    </div>
</div>

    <div class="container-fluid">
    <div class="row" >
     <div class="col-lg-6">
       <image src="{{ url_for('static', filename='img/cat.jpg')}}" class="bildgrösse"></image> <h3> {{ausgabe_5}}</h3>
     </div>
     <div class="col-lg-6">
      <image src="{{ url_for('static', filename='img/mountain.jpg')}}" class="bildgrösse"></image> <h3> {{ausgabe_6}}</h3>
     </div>
    </div>
</div>

<p></p>

    <div class="container-fluid">
    <div class="row" >
     <div class="col-lg-6">
        <image src="{{ url_for('static', filename='img/mountainbike.jpg')}}" class="bildgrösse"></image>
     <h3> {{ausgabe_7}}</h3>
     </div>
     <div class="col-lg-6">
     <image src="{{ url_for('static', filename='img/skateboard.jpg')}}" class="bildgrösse"></image>
    <h3> {{ausgabe_8}}</h3>
     </div>
    </div>
</div>



{% include "footer.html" %}