{% include "header.html" %}
<main role="main">
    <div class="jumbotron ">
        <div class="container">
            <h1 class="display-3 "> Hier hast Du ein Beispiel</h1>
        </div>
    </div>
</main>

<div class="container-fluid">
    <div class="row pic">
        <div class="col-md">
            <image src="{{ url_for('static', filename='img/image_lion.jpg')}}" class="bildgrösse"></image>
            <h3>Der Löwe war schon immer mein Lieblingstier</h3>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row pic">
        <div class="col-md">
            <image src="{{ url_for('static', filename='img/harry.PNG')}}" class="bildgrösse"></image>
            <h3> Meine Hassliebe zu Python</h3>
        </div>
    </div>
</div>
<br>
<br>

<div class="container-fluid pic">
    <div class="row ">
        <div class="col-md">
            <image src="{{ url_for('static', filename='img/joke.jpeg')}}" class="bildgrösse"></image>
            <h3>Im Studium habe ich gelernt, Prioritäten zu setzen</h3>
        </div>
    </div>
</div>
<div class="container-fluid pic">
    <div class="row ">
        <div class="col-md">
            <image src="{{ url_for('static', filename='img/image_sweet.jpg')}}" class="bildgrösse"></image>
            <h3> Hier ein Bild von mir und meiner Freundin während eines Spaziergangs</h3>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row pic">
        <div class="col-md">
            <image src="{{ url_for('static', filename='img/cat.jpg')}}" class="bildgrösse"></image>
            <h3>Da ich nie einen Löwen haben durfte, habe ich mir jetzt eine Katze zugelegt</h3>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row pic">
        <div class="col-md">
            <image src="{{ url_for('static', filename='img/mountain.jpg')}}" class="bildgrösse"></image>
            <h3>Mein Schulweg von Zürich nach Chur</h3>
        </div>
    </div>
</div>

<p></p>

<div class="container-fluid">
    <div class="row pic">
        <div class="col-md">
            <image src="{{ url_for('static', filename='img/mountainbike.jpg')}}" class="bildgrösse"></image>
            <h3>Ich fahre gerne Mountainbike, aber lebensmüde bin ich auch nicht</h3>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row pic">
        <div class="col-md">
            <image src="{{ url_for('static', filename='img/skateboard.jpg')}}" class="bildgrösse"></image>
            <h3>Skaten war früher meine Leidenschaft</h3>
        </div>
    </div>

</div>
<br>
<div class="container-fluid">
    <a href="{{url_for('index') }} ">
        <button type="submit" class="btn btn-dark btn-lg">Zurück zum Hauptmenü</button>
    </a>

    <a href="{{url_for('eingabe') }} ">
        <button type="submit" class="btn btn-dark btn-lg float-right">Galerie ergänzen</button>
    </a>
</div>
<br>
<br>
{% include "footer.html" %}