{% include "header.html" %}


<br>
<main role="main">
    <div class="jumbotron ">
        <div class="container">
            <h1 class="display-3 "> Erstelle jetzt Deine eigene Galerie </h1>
        </div>
    </div>
</main>
<br>
<br>
<div class="container-fluid">

        <form method="post" enctype="multipart/form-data">

            <div class="form-group">
                <label for="bild">Hier kannst Du Dein erstes Bild mit Kommentar speichern</label>
                <input type="file" class="form-control-file" id="bild" name="bild">
            </div>
            <div class="form-group">
                <label for="kommentar">Kommentar</label>
                <input type="text" class="form-control" name="kommentar"
                       id="kommentar"
                       placeholder="Schreibe Dein Kommentar">
            </div>

    <button type="submit" class="btn btn-dark btn-lg">Speichern</button>
    </form>
</div>
<br>
<br>
<div class="container">
    <a href="{{url_for('ausgabe') }} ">
        <button type="button" class="btn btn-primary btn-lg btn-block">Meine Galerie ansehen</button>
    </a>
</div>
<br>
<br>
<br>
<div class="container-fluid">
    <a href="{{url_for('index') }} ">
        <button type="submit" class="btn btn-dark btn-lg">Zurück zum Hauptmenü</button>
    </a>

    <a href="{{url_for('beispiel') }} ">
        <button type="submit" class="btn btn-dark btn-lg float-right ">zum Beispiel</button>
    </a>
</div>
<br>
<br>
<br>

{% include "footer.html" %}