{% include "header.html" %}

<body>
<main role="main">
    <div class="jumbotron">
        <div class="container-fluid">
            <h1 class="display-3"> Deine Galerie </h1>
        </div>
    </div>
    <div><h2 class="display-3"> Auf diese Seite kannnst du deine Bilder hochladen und damit eine Galerie herstellen</h2></div>

    <div class="container">
        <div class="row">
             <a href="{{url_for('eingabe') }} ">Galerie herstellen</a>
        </div><h3 class="display-3"> wenn du eine beispielgalerie anschauen willst, dann kann ich dir meinen Beispiel zeigen</h3>

        <div class="row">
            <a href="{{url_for('beispiel') }} ">Zum Beispiel</a>
        </div>
    </div>
</main>


{% include "footer.html" %}