{% include "header.html" %}

<body>
<main role="main">
    <div class="jumbotron ">
        <div class="container  ">
            <h1 class="display-3 titel"> Deine Galerie </h1>
        </div>
    </div>

    <div class="container-md vorstellung" >
    <div><h2 class="display-3"> Auf diese Seite kannnst du deine Bilder hochladen und damit eine Galerie erstellen</h2></div>

        <div class="container">

            <a href="{{url_for('eingabekommentar') }} ">
            <button type= "button" class="btn btn-dark btn-lg">Galerie erstellen</button>
            </a>

        </div>
            <h3 class="display-3"> wenn du eine beispielgalerie anschauen willst, dann kann ich dir meinen Beispiel zeigen</h3>

            <a href="{{url_for('beispiel') }} "
                <button type= "button" class="btn btn-dark btn-lg">zum beispiel</button>
            </a>
                <p></p>

    </div>


</main>


{% include "footer.html" %}